Repository windingtree/contracts: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix

.lintstagedrc:

{
  "*.{ts,js}": ["prettier --write", "eslint --cache --fix"],
  "*.md": ["prettier --write"]
}

feat: 🎸 Added DealsRegistry contracts and testing utils
  .prettierrc
  .solhint.json
  contracts/DealsRegistry.sol
  contracts/ERC1155Token.sol
  contracts/Market.sol
  contracts/test/MockERC20Dec18.sol
  contracts/test/MockERC20Dec18Permit.sol
  contracts/utils/IERC20.sol
  contracts/utils/SignatureUtils.sol
  contracts/utils/StringUtils.sol
  hardhat.config.ts
  package.json
  src/constants.ts
  src/index.ts
  test/contracts/Market.test.ts
  test/contracts/utils.ts
  yarn.lock
Due: prettier --write, eslint --cache --fix

test: 💍 Added test for Deal creation (not finished)
  .eslintignore
  contracts/DealsRegistry.sol
  contracts/Market.sol
  hardhat.config.ts
  src/constants.ts
  tasks/index.ts
  test/contracts/Market.test.ts
  test/contracts/utils.ts
  tsconfig.json
Due: prettier --write, eslint --cache --fix

test: 💍 Updated tests for the DealsRegistry
  contracts/DealsRegistry.sol
  contracts/Market.sol
  test/contracts/Market.test.ts
  test/contracts/utils.ts
Due: prettier --write, eslint --cache --fix

feat: 🎸 Added SuppliersREgistry contract
  contracts/DealsRegistry.sol
  contracts/Market.sol
  contracts/SuppliersRegistry.sol
Due: none

test: 💍 Added tests for DealsRegistry and SuppliersRegistry
  contracts/DealsRegistry.sol
  contracts/Market.sol
  contracts/SuppliersRegistry.sol
  test/contracts/Market.test.ts
  test/contracts/utils.ts
Due: prettier --write, eslint --cache --fix

test: 💍 More tests for SuppliersRegistry
  .prettierrc
  contracts/DealsRegistry.sol
  contracts/ERC1155Token.sol
  contracts/Market.sol
  contracts/SuppliersRegistry.sol
  contracts/utils/SignatureUtils.sol
  contracts/utils/StringUtils.sol
  package.json
  test/contracts/Market.test.ts
  test/contracts/utils.ts
  yarn.lock
Due: prettier --write, eslint --cache --fix

feat: 🎸 Added `claim` feature with tests
  .prettierrc
  contracts/Configurable.sol
  contracts/DealsRegistry.sol
  contracts/ERC1155Token.sol
  contracts/ERC721Token.sol
  contracts/Market.sol
  contracts/SuppliersRegistry.sol
  package.json
  test/contracts/Market.test.ts
  test/contracts/utils.ts
  yarn.lock
Due: prettier --write, eslint --cache --fix

refactor: 💡 Fallback repo from zkSync to Hardhat
  .env.example
  .gitattributes
  .github/workflows/test.yml
  .solcover.js
  contracts/DealsRegistry.sol
  contracts/Market.sol
  contracts/utils/SignatureUtils.sol
  contracts/utils/StringUtils.sol
  coverage.json
  deploy/001.ts
  hardhat.config.ts
  network/clear.sh
  network/docker-compose.yml
  network/rich-wallets.json
  network/setup.md
  network/start.sh
  package.json
  src/index.ts
  test/contracts/Market.test.ts
  test/contracts/setup.ts
  test/contracts/utils.ts
  tsconfig.build.json
  tsconfig.json
  utils/network.ts
  yarn.lock
Due: prettier --write, eslint --cache --fix

chore: 🤖 Minor repo config change
  .gitignore
  .prettierignore
Due: none

feat: 🎸 Added deals redjection and cancellation functionality
  contracts/DealsRegistry.sol
  contracts/Market.sol
  coverage.json
Due: none

test: 💍 Added tests for deals rejection and cancellation
  test/contracts/Market.test.ts
  test/contracts/utils.ts
Due: prettier --write, eslint --cache --fix

fix: 🐛 Fixed CheckedId typo, not CheckedIn
  contracts/DealsRegistry.sol
  test/contracts/Market.test.ts
Due: prettier --write, eslint --cache --fix

feat: 🎸 Added checkOut time to the offer
  test/contracts/utils.ts
Due: prettier --write, eslint --cache --fix

feat: 🎸 Added refund and checkOut functions
  contracts/DealsRegistry.sol
  contracts/Market.sol
Due: none

test: 💍 Added tests for refund and checkOut functionality
  test/contracts/Market.test.ts
Due: prettier --write, eslint --cache --fix

chore: 🤖 Added more named accounts
  deploy/001.ts
  hardhat.config.ts
Due: prettier --write, eslint --cache --fix

refactor: 💡 Refactored setup and utils
  test/contracts/setup.ts
  test/contracts/utils.ts
Due: prettier --write, eslint --cache --fix

feat: 🎸 Implemented retailer flow
  contracts/DealsRegistry.sol
  contracts/Market.sol
  contracts/SuppliersRegistry.sol
Due: none

test: 💍 Added tests for retailer flow
  test/contracts/Market.test.ts
Due: prettier --write, eslint --cache --fix

fix: 🐛 Updated release workflow
  .github/workflows/release.yml
  package.json
Due: none

fix: 🐛 Fixed typo in release.yml
  .github/workflows/release.yml
Due: none

fix: 🐛 Another release.yml fix
  .github/workflows/release.yml
  package.json
Due: none

fix: 🐛 Fixed semantic-release config
  package.json
Due: none

Notes added by 'git notes add'
  686a3c0371ca00e09cc8f684b1bc7805176136f2
Due: none

chore: 🤖 Updated repository configuration
  hardhat.config.ts
  package.json
  yarn.lock
Due: prettier --write, eslint --cache --fix

test: 💍 Added contract size validation step to the CI workflow
  .github/workflows/test.yml
Due: none

refactor: 💡 Market refactored into tree separate contracts
  contracts/Config.sol
  contracts/Configurable.sol
  contracts/DealsRegistry.sol
  contracts/ERC721Token.sol
  contracts/EntitiesRegistry.sol
  contracts/Market.sol
  contracts/SuppliersRegistry.sol
  contracts/interfaces/IConfig.sol
  contracts/interfaces/IEntitiesRegistry.sol
  contracts/libraries/SignatureUtils.sol
  contracts/libraries/Utils.sol
  contracts/test/MockERC20Dec18.sol
  contracts/test/MockERC20Dec18Permit.sol
  contracts/upgradeable/Upgradeable.sol
Due: none

refactor: 💡 Refactored deployments scripts to use Upgradability
  deploy/002.ts
Due: prettier --write, eslint --cache --fix

test: 💍 Tests are now up to date with the refactored contracts
  test/contracts/EntitiesRegistry.test.ts
  test/contracts/Market.test.ts
  test/contracts/setup.ts
  test/contracts/utils.ts
Due: prettier --write, eslint --cache --fix

feat: 🎸 Utils and types are added to the module exports
  src/constants.ts
  src/index.ts
  src/types.ts
  src/utils.ts
Due: prettier --write, eslint --cache --fix

feat: 🎸 Added wallet generation hardhat task
  tasks/index.ts
Due: prettier --write, eslint --cache --fix

feat: 🎸 Added Polygon zkEVM Testnet deployment info
  deployments/polzktest/.chainId
  deployments/polzktest/Config.json
  deployments/polzktest/Config_Implementation.json
  deployments/polzktest/Config_Proxy.json
  deployments/polzktest/DefaultProxyAdmin.json
  deployments/polzktest/EntitiesRegistry.json
  deployments/polzktest/EntitiesRegistry_Implementation.json
  deployments/polzktest/EntitiesRegistry_Proxy.json
  deployments/polzktest/Market.json
  deployments/polzktest/Market_Implementation.json
  deployments/polzktest/Market_Proxy.json
  deployments/polzktest/MockERC20Dec18Permit.json
  deployments/polzktest/MockERC20Dec18Permit_Implementation.json
  deployments/polzktest/MockERC20Dec18Permit_Proxy.json
  deployments/polzktest/solcInputs/0e89febeebc7444140de8e67c9067d2c.json
  deployments/polzktest/solcInputs/8d0b6126b03e4a7dfd9b020d5703a4a0.json
Due: none

docs: ✏️ Updated README.md, added setup, testing and deployments
  README.md
Due: prettier --write

Notes added by 'git notes add'
  d275b86bce6346b86f23fa67b2f296424274e020
Due: none

refactor: 💡 Ethers removed from exports; Types for ethers-v6
  .eslintignore
  .gitignore
  .lintstagedrc
  .prettierignore
  deploy/001.ts
  deploy/002.ts
  package.json
  src/constants.ts
  test/contracts/EntitiesRegistry.test.ts
  test/contracts/Market.test.ts
  test/contracts/setup.ts
  test/contracts/utils.ts
  utils/constants.ts
  utils/index.ts
  utils/types.ts
  yarn.lock
Due: prettier --write, eslint --cache --fix

fix: 🐛 Try to fix github workflow error: No files passed
  .github/workflows/release.yml
  package.json
Due: none

Notes added by 'git notes add'
  fe47ee6d3482e57839eda5ac6d79491b5138e7bf
Due: none

feat: 🎸 Npm package moved into ./package directory
  .eslintignore
  .github/workflows/release.yml
  .gitignore
  .lintstagedrc
  package.json
  package/.prettierignore
  package/.prettierrc
  package/LICENSE
  package/README.md
  package/package.json
  package/src/constants.ts
  package/src/index.ts
  package/tsconfig.build.json
  package/tsconfig.json
  package/yarn.lock
Due: prettier --write, eslint --cache --fix

fix: 🐛 Fixed invalid dependency in tests
  .github/workflows/release.yml
  .github/workflows/test.yml
  package.json
  test/EntitiesRegistry.test.ts
  test/Market.test.ts
  test/contracts/EntitiesRegistry.test.ts
  test/setup.ts
  test/src/index.spec.ts
  test/src/setup.ts
  test/utils.ts
Due: prettier --write, eslint --cache --fix

fix: 🐛 Fixed build step
  .github/workflows/release.yml
Due: none
